src/main/app/mule-database-connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8083" doc:name="HTTP Listener Configuration"/>
    <db:generic-config name="Generic_Database_Configuration" url="jdbc:postgresql://localhost:5432/postgres?user=postgres&amp;password=eckhart" driverClassName="org.postgresql.Driver" doc:name="Generic Database Configuration"/>
    <flow name="mule-database-connectorFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/db" doc:name="HTTP"/>
        <set-session-variable variableName="name" value="#[message.inboundProperties.'http.query.params'.name]" doc:name="Session Variable"/>
        <set-session-variable variableName="city" value="#[message.inboundProperties.'http.query.params'.city]" doc:name="Session Variable"/>
        <set-session-variable variableName="country" value="#[message.inboundProperties.'http.query.params'.country]" doc:name="Session Variable"/>
        <set-session-variable variableName="email" value="#[message.inboundProperties.'http.query.params'.email]" doc:name="Session Variable"/>
        <logger message="#[sessionVars.name],#[sessionVars.email],#[sessionVars.city],#[sessionVars.country]" level="INFO" doc:name="Logger"/>
        <db:insert config-ref="Generic_Database_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[insert into team_profile("name", "city", "county", "email")
Values(#[sessionVars.name],#[sessionVars.city],#[sessionVars.country],#[sessionVars.email])]]></db:parameterized-query>
        </db:insert>
    </flow>
</mule>
